@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <label for="wizards">Who's the best wizard?</label>
    <input type="text" id="wizards" name="wizards">
</div>

<script>
    // Get the input field
let wizards = document.querySelector('#wizards');


/**
 * Create and render the datalist element
 */
function renderDatalist (ctrl, data) {
	// Use existing datalist element if there already is one
	let datalist = document.querySelector('#'+ctrl.id + '-data');
	
	if (!datalist) {
		// Create the datalist element
        datalist = document.createElement('datalist');
		// Link the datalist to the input control
        datalist.id = ctrl.id + '-data';
        ctrl.setAttribute('list', datalist.id);
	}
	else
	{
		// clear current datalist
        datalist.innerHTML = '';
	}

	// Create fragment for option elements
	let fragment = document.createDocumentFragment();

	// Create list options
	for (let wizard of data) {
		let option = document.createElement('option');

		option.textContent = wizard;
		fragment.append(option);
	}

	// Add options to datalist
	datalist.append(fragment);

	// Inject into the DOM
    ctrl.after(datalist);
}

// Fetch the data and render the datalist element
	fetch('/index?handler=Partial', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
			'Content-Type': 'application/json',
          //  RequestVerificationToken: document.getElementsByName("__RequestVerificationToken")[0].value,
        },
        body: JSON.stringify('Textual content')
		}).then(function (response) {
	if (response.ok) {
		return response.json();
	}
	throw response;
}).then(function (data) {
    renderDatalist(wizards, data);
}).catch(function (error) {
	console.warn(error);
});
</script>