@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <label for="wizards">Who's the best wizard?</label>
    <input type="text" id="wizards" name="wizards" ajax-url="/index?handler=Partial">
</div>

<script>
    // Get the input field
let wizards = document.querySelector('#wizards');


/**
 * Create and render the datalist element
 */
function renderDatalist (ctrl, data) {
	// Use existing datalist element if there already is one
	let datalist = document.querySelector('#'+ctrl.id + '-data');
	
	if (!datalist) {
		// Create the datalist element
        datalist = document.createElement('datalist');
		// Link the datalist to the input control
        datalist.id = ctrl.id + '-data';
        ctrl.setAttribute('list', datalist.id);
	}
	else
	{
		// clear current datalist
        datalist.innerHTML = '';
	}

	// Create fragment for option elements
	let fragment = document.createDocumentFragment();

	// Create list options
	for (let item of data) {
		let option = document.createElement('option');

        option.textContent = item;
		fragment.append(option);
	}

	// Add options to datalist
	datalist.append(fragment);

	// Inject into the DOM
    ctrl.after(datalist);
}

	// Add an event handler for when text is being entered
    wizards.addEventListener('input', function (e) {
		// Clear any pending timeout as it did not expire before another change
		if (e.target.timeout)
			clearTimeout(wizards.timeout);

		// Only do an ajax search if at least 2 characters were entered
        if (e.target.value.length > 2) {
			// Wait 500ms in case user is still typing to avoid too many sequential calls
            e.target.timeout = setTimeout(function () {
				// Fetch the data and render the datalist element
				fetch(e.target.getAttribute('ajax-url'), {
					method: 'POST',
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json',
						//  RequestVerificationToken: document.getElementsByName("__RequestVerificationToken")[0].value,
					},
                    body: JSON.stringify(e.target.value)
				}).then(function (response) {
					if (response.ok) {
						return response.json();
					}
					throw response;
				}).then(function (data) {
                    renderDatalist(e.target, data);
				}).catch(function (error) {
					console.warn(error);
				});
			}, 500);
		}
	});
</script>